Repository c422/c422-src, pull requests merged in 2019-05, with the labels that each got.

#9 Fix author info
  content/en/accomplishment/lisen-pro-pension.md
  content/en/author/jiaojinlong/_index.md
  content/zh/accomplishment/jiaojinlong-pro-nationalutp.md
  content/zh/accomplishment/lisen-pro-pension.md
  content/zh/accomplishment/pro-jiaojinlong-nationalutp.md
  content/zh/author/admin/_index.md
  content/zh/author/jiaojinlong/_index.md
Labels: invalid

#10 Wangpenghao/author info
  content/en/accomplishment/lisen-pub-pension.md
  content/en/author/wangpenghao/_index.md
  content/en/author/wangpenghao/avatar.jpg
  content/zh/accomplishment/lisen-pub-pension.md
  content/zh/author/wangpenghao/_index.md
  content/zh/author/wangpenghao/avatar.jpg
Labels: content update, invalid

#14 add weekly report
  content/en/post/keynote-20190525-jiaojinlong.md
  content/zh/post/keynote-20190525-jiaojinlong.md
Labels: content update

#15 Fix style detail
  content/zh/author/jiaojinlong/_index.md
  content/zh/post/keynote-20190509-zhaoyiqin.md
  content/zh/post/keynote-20190516-wangpenghao.md
  content/zh/post/keynote-20190525-jiaojinlong.md
Labels: update content
